body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif;
}
.ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
.wraper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
/* Mein content */
.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

/* Sidebar  */
.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}
.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
/*  contacts  */
.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700px;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  text-decoration-line: underline;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-conteiner {
  margin-bottom: 40px;
}
/* scils container */

.skills-container {
  margin-bottom: 40px;
}
.skills-titl {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.skills-list {
  padding-left: 16px;
}
.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 24px;
  color: #161d2a;
}
/* Soft Skills */
.soft-skils-container {
  margin-bottom: 40px;
}
.soft-skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.soft-skills-list {
  padding-left: 16px;
}
.soft-skills-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
/* main-content */
.my-profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}
.my-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-info {
  margin-bottom: 40px;
}
/* My projects */
.my-projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #000;
}
.my-projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px;
}
.my-projects-list {
  padding-left: 16px;
}
.my-projects-item {
  color: #005fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.my-projects-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration-line: none;
}
.my-projects-container {
  margin-bottom: 40px;
}
/* Work experience */

.work-experience-titl {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.work-experience-company {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 8px;
  margin-top: 0;
  margin-bottom: 12px;
}
.company-name {
  color: #6d9bf5;
}
.work-experience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.work-experience-period-separator {
  color: #000;
}
.work-experience-duties-list {
  padding-left: 16px;
}
.work-experience-duties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.work-experience-conteiner {
  margin-bottom: 12px;
}
/* Education */
.education {
  margin-top: 40px;
}
.education-titl {
  font-weight: 700;
  font-size: 22px;
  color: #000;
}
.education-university {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
}
.education-faculty {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.education-period {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
}
.education-period-separator {
  color: #000;
}
